body {
	margin: 0em;
	padding: 0em;
}
.container {
	position: absolute;
	padding: 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 150px;
	width: 400px;
}
button {
	width: 30%;
	height: 40px;
	top: 10px;
	outline: none;
	margin-left: 8px;
	background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
}
button:hover {
	cursor: pointer;
}
h2 {
	height: 40px;
	position: relative;
	top: 10px;
	text-align: center;
}

.winS {
	position: relative;
	top: 30px;
	text-align: center;
}
.animate {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -30%);
	width: 600px;
	height: 100px;
}
.x,
.y,
.z {
	display: inline;
	font-size: 30px;
	margin-left: 80px;
	position: relative;
	left: 10px;
	transform: translateX(-50%);
}
.shoot {
	display: block;
	text-align: center;
	width: 100%;
	position: relative;
	top: 20px;
	font-size: 40px;
	font-weight: bold;
}
.ScoreBoard {
	font-size: 60px;
	text-align: center;
}
.reset {
	position: relative;
	margin-top: 100px;
	left: 130px;
}
